@import "tailwindcss";

:root {
  --background: #050223;
  --foreground: #ededed;
  --ztmy-dark: #411d63;
  --ztmy-purple: #8d3cd4;
  --ztmy-pink: #e147bf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ztmy-dark: var(--ztmy-dark);
  --color-ztmy-purple: var(--ztmy-purple);
  --color-ztmy-pink: var(--ztmy-pink);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-rocknroll: var(--font-rocknroll-one);
  --font-mkpop: var(--font-mkpop-101);
}

/* 반응형 Break Points 
  - 모바일(640px)
  - 태블릿(1080px)
*/
@theme {
  --breakpoint-tablet: 40rem; /* 640px */
  --breakpoint-pc: 67.5rem; /* 1080px */
}

/* 모바일에서 NavButton 및 NextVisit 레이아웃 정렬용 (660px 이하에선 flex 적용) */
@custom-variant short (@media (max-height: 660px));

body {
  background-color: var(--background);
  background-image:
    radial-gradient(
      ellipse at center,
      transparent 0%,
      transparent 15%,
      var(--background) 90%
    ),
    url("/bg/ztmy-bg.jpg");
  background-position: center, center;
  background-size:
    /* 화면 너비/높이(100vw/100vh) 또는, 화면이 세로/가로로 길어서 높이/너비가 기준이 될 때는 16:9 기준 그 높이/너비에 대응하는 너비(177.78vh) / 높이(56.25vw)  중 큰 값 */
    /* 그라데이션 레이어 가로/세로 */
    max(100vw, 177.78vh) max(56.25vw, 100vh),
    max(100vw, 177.78vh) max(56.25vw, 100vh); /* 이미지 레이어 가로/세로: 그라데이션과 동일한 공식 (정렬을 맞추기 위함) */

  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 모바일(tablet 브레이크포인트 미만)에서는 세로형 배경 이미지로 교체 */
@media (width < 40rem) {
  body {
    background-image:
      radial-gradient(
        ellipse at center,
        transparent 0%,
        transparent 15%,
        var(--background) 90%
      ),
      url("/bg/ztmy-bg-responsive.webp");
    background-size: cover, cover;
  }
}

/* Countdown 물풍선 물결 무늬 animation */
@keyframes wave-flow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25px);
  }
}

/* Countdown 물풍선 Today 도달 시 테두리 animation */
@keyframes fire-glow {
  0%,
  100% {
    filter: drop-shadow(0 0 2px #f97316) drop-shadow(0 0 5px #ef4444);
  }
  50% {
    filter: drop-shadow(0 0 5px #fde047) drop-shadow(0 0 10px #f97316);
  }
}
